body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

input[type=text], input[type=password]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    font-size: 16px;
}
input[type=submit] {
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    background-color: #B0C4DE;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    width: 60%;
    margin: 0 auto;
    justify-content: center; 
    border: 2px solid #B0C4DE;
}


.bandeau {
    background-color: #5F90CB;
    padding: 10px;
    color: white;
    text-align: center;
}

.side-menu {
    width: 200px;
    background-color: #f4f4f4;
    position: fixed;
    height: 100%;
    padding-top: 20px;
}

h1 {
    text-align:center;
}

.side-menu ul {
    list-style-type: none;
    padding: 0;
}

.side-menu ul li {
    padding: 10px;
}

.side-menu ul li a {
    text-decoration: none;
    color: #333;
    display: block;
}

.side-menu ul li a:hover {
    background-color: #ddd;
    color: #5F90CB;
}

.content {
    margin-left: 220px;
    padding: 20px;
}

.section {
    display: none;
}

.section.active {
    display: block;
}

.bouton {
    color: white;
				padding: 12px 20px;
				border: 2px solid white;
				border-radius: 4px;
				background-color: #5F90CB;
				font-weight: bold;
				cursor: pointer;

}

#connexionBtn {
    margin-right: 10px;
}
.bouton:hover {
    background-color: #B0C4DE;
}

.modal {
    display: none; /* Masqué par défaut */
    position: fixed;
    z-index: 1000; /* Par-dessus le reste */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Arrière-plan semi-transparent */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Largeur de la modale */
    max-width: 500px; /* Limite la largeur maximale */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3); /* Ombre pour effet de profondeur */
}

.input {
    position: relative;
    display: inline-block;
    }

    .input .unit {
        position: absolute;
        right: 10px;
        top: 45%;
        color: #000000;
        font-style: italic;
    }


label{
    color: #5F90CB; 
				font-weight: bold; 
}
h2{
    color : #5F90CB;
}

inscriptionModal{
    margin-right: 4px;
}

input[type=submit]:hover {
    background-color: #5F90CB;
}


input[type="text"], input[type="password"], select {
    width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	font-size: 16px;

}

input[type="submit"] {
    color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	background-color: #B0C4DE;

}

input[type="submit"]:hover {
    background-color: #3f71a4;
}

#close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
#close:hover,
#close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


    .imc-resultat {
        font-size: 18px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }

    /* Maigreur */
    .maigreur {
        color: blue;
        background-color: #e0f7fa; /* Couleur de fond légère pour plus de lisibilité */
    }

    /* Corpulence normale */
    .normal {
        color: green;
        background-color: #e8f5e9;
    }

    /* Surpoids */
    .surpoids {
        color: orange;
        background-color: #fff3e0;
    }

    /* Obésité modérée */
    .obesite-moderee {
        color: darkorange;
        background-color: #ffe0b2;
    }

    /* Obésité sévère */
    .obesite-severe {
        color: red;
        background-color: #ffccbc;
    }

    /* Obésité morbide */
    .obesite-morbide {
        color: darkred;
        background-color: #ffebee;
    }

    .error-message {
        color: red;
        background-color: #ffcccb;
        padding: 10px;
        border: 1px solid red;
        text-align: center;
        margin-top: 20px;
        font-weight: bold;
    }

    .resultat-container {
        margin-top: 20px;
        padding: 20px;
        background-color: #f2f2f2;
        border-radius: 5px;
        text-align: center;
    }

    .imc-interpretation {
        margin-top: 20px;
        text-align: left;
    }

    .imc-interpretation ul {
        list-style-type: none;
        padding-left: 0;
    }

    .imc-interpretation li {
        margin-bottom: 10px;
    }

